.grid-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px; 
  }
  
  .section1 {
    grid-column: span 2; 
    border: 2px black solid;
    background-color: aqua;
  }
  
  .section2 {
    grid-column: span 8; 
    border: 2px red dotted;
    background-color: grey;
  }
  